.checkboxWrapper {
  display: block;
  position: relative;
  margin: 3px 0 0 23px;
  padding-left: 26px;
  right: 20px;

}
.checkboxElement {
  appearance: none;
  position: absolute;
  top: 21px;
  left: 0;
  margin: 0;
  width: 27px;
  height: 26px;
  border: 1px solid #6C63FF;
  border-radius: 3px;
}

.checkboxElement:checked{
  background-color: #6C63FF;
}
.checkboxElement:checked::before{
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: 8px;
  width: 7px;
  height: 15.5px;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-right-color: white;
  transform-origin: 50% 50%;
  transform: rotate(35deg);
}