.modalError {
  height:100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modalError {
  &.active {
    transform: scale(1);
    pointer-events: all;
  }
}

.modal__contentError {
  padding: 20px;
  border-radius: 12px;
  height: 278px;
  width: 512px;
  display: flex;
  margin-bottom: 358px;
  flex-direction: column;
  background-color: var(--bg-light);
  margin-right: 19px;
  justify-content: center;
  align-items: center;
}

